extends layout

block content
  center
    h1 Bienvenido a #{title}
    #user.form-horizontal
      a(href="/signup") Registrarse
      br
      a(href="/login") Iniciar Sesión

    #formulario.form-inline      
      form(action="/users/delete", method="get", class="form-horizontal")
        h2 
          label(for="email") Email:  
        input(type="text", name="email", id="email", class="form-control" required)
        button(type="submit", class="btn btn-danger btn-sm") Eliminar con get